
.btn_type_1 {
    background-color: transparent;
    border: none;
    outline: none;
    position: relative; /* 추가 */
    display: inline-block;
    cursor: pointer;
}

.btn_type_1::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom:-5px;
    left: 0;
    background-color: #007bff; /* 원하는 언더라인 색상으로 변경 가능 */
    transition: width 0.3s ease; /* 수정된 부분: width에 단위 추가 */
}

.btn_type_1:hover::after {
    width:180px;
}

.btn_type_2 {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: #89ccc5;
    color: white;
    border-radius: 5px;
}

.btn_type_3 {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color:#D7EBE9;
    color:  #89ccc5;
    border-radius: 5px;
}