.Main {
    color: 272727;
}

.Main .total_goal {
    box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 10px 0px;
    background-color: #89ccc5;
    padding: 30px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.total_goal .title {
    font-size: 24px;
    font-weight:bold;
}

.total_goal .comment{
    font-size: 16px;
    font-weight: right;
}

.total_goal .check p{
    margin-bottom: 5px;
    font-weight: 600;
}

.card_section {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
