.List {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.List > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(220,220,220);
    margin-top: 15px;
    padding: 15px 0px;
}

.List > input:focus {
    outline: none;
    border-bottom: 1px solid #89ccc5;
}

.List .todo_wrap {
    display: flex;
    flex-direction: column;
    gap: 20p;
}