.Item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.Item input {
    width: 20px;
}

.Item .contents {
    flex: 1;
}

.Item .date {
    font-size: 14px;
    color: gray;
}

.Item button {
    cursor: pointer;
    color: gray;
    font-size: 14px;
    border:none;
    border-radius: 5px;
}